*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
   
  }
  body{
    background-color: #F1F6F9;
  }
  #w{
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media(min-aspect-ratio:16/9){
    .back-video{
      width: 100%;
      height:auto;
    }
  }
    @media(max-aspect-ratio:16/9){
      .back-video{
        width: 100%;
        height:auto;
      }
  }
  @media(max-width:600px){
    .back-video{
      width: 100%;
      height:auto;
    }
  }
  h2{
    font-family: 'Montserrat';
    color: cornsilk;
    text-align: center;
    font-size: 40px;
   
  
  }

  .navbar .nav-links{
    display: flex;
    align-items: center;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 30px;
    padding: 0;
    font-weight: bold;
    font-family: 'Montserrat';
}
.navbar .nav-links ul li.active a{
color: darkcyan;
}



  .nav-scroll{
   
    background-color: black;
    
  }
  
  .navbar{
    width:100%;
    height:100vh;
   position: relative;
   display: flex;
   align-items: center;
  justify-content: center;
    padding:0 5%;
   
  }
  nav .logo {
  font-family: 'Montserrat';
  text-decoration: none;
  font-size:30px ;
  color: lavenderblush;
  position: relative;
  left: 0px;
  
  }
  nav{
    width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   padding: 20px 8%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
    
  }
  

   
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
  } 
  :root {
    --first-color: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color: hsl(222, 8%, 8%);
    --text-color-light: hsl(222, 8%, 65%);
    --white-color: #fff;
    --body-font: "Poppins", sans-serif;
    --small-font-size: .813rem;
  }

  .navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    }
    @media screen and (max-width:900px){
        .content{
           display: none;
        }
        .logo{
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 1;
        }
        .navbar{
            padding: 0;
            position: absolute;
        }
    .navbar .menu-hamburger{
        display: block;
       position: absolute;
       right: 50px;
       top: 30px;
       cursor: pointer;
    }
        .nav-links{ 
            position: absolute;
            top: 0;
            left:0;
            background-color:rgba(255,255,255,0.20);
            backdrop-filter: blur(4px);
            width: 100%;
            height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
           transition: all 1.5s ease-in-out;
          
        }
        .nav-links.mobile-menu{
            margin-left: 0;
           }
        .nav-links ul{
            display: flex;
            flex-direction: column;
            align-items: center;  
        }
        .navbar .nav-links ul li{
            margin: 25px 0;  
            font-size: 1.2em;
        }
        .img-box{
          display: inline-flex;
      
        }
    }




  /* .search {
    position: relative;
    width: 76px;
    height: 76px;
   
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  }
  .search__input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
  }
  .search__input:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--white-color) inset;
  }
  .search__button {
    width: 56px;
    height: 56px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
  }
  .search_icon, .search_close {
    color: var(--white-color);
    font-size: 1.5rem;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
  }
  .search__close {
    opacity: 0;
  }
  
  .show-search {
    width: 100%;
  }
  .show-search .search__input {
    opacity: 1;
    pointer-events: initial;
  }
  .show-search .search__button {
    transform: rotate(90deg);
  }
  .show-search .search__icon {
    opacity: 0;
  }
  .show-search .search__close {
    opacity: 1;
  } */




  .content{
    text-align: center;
  }
  .content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5px;
    font-family: 'Poppins',sans-serif;
  }
  .content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
  .content a{
    text-decoration:none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
  }
  .content a:hover{
    background-color: #fff;
    color: black;
    font-weight:3px ;
  }
  
          h3{
            font-family: 'Montserrat';
            color: cornsilk;
            text-align: center;
            font-size: 40px;
          }  
          .description{
            font-family: 'Montserrat';
            font-size: 20px;
            color: black;
            text-align: center;
          }
        .description1{
          font-family: 'Montserrat';
            font-size: 20px;
            color: black;
            quotes: "“" "”";
            position: relative;
            text-align: center;
            &::before {
              content: open-quote;
              font-size: 4em;
              color: black;
              position: absolute;
              top: -30px;
              left: 0;
              font-family: Georgia, serif;
           
            }
            &::after {
              content: close-quote;
              font-size: 4em;
              bottom: -16px;
              right:300px;
              position: absolute;
              color: black;
              font-family: Georgia, serif;
            
            }
          }

          .adjust{
            margin-left:20px ;
            padding-left: 50px;
            padding-right: 50px;
            width:100%;
            height:100%;
          }











          .contact_us_green * {
            font-family: Nunito, sans-serif;
          }
          
          .contact_us_green .responsive-container-block {
            min-height: 75px;
            height: fit-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 60px;
            margin-left: auto;
          }
          
          .contact_us_green input:focus {
            outline-color: initial;
            outline-style: none;
            outline-width: initial;
          }
          
          .contact_us_green textarea:focus {
            outline-color: initial;
            outline-style: none;
            outline-width: initial;
          }
          
          .contact_us_green .text-blk {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            line-height: 25px;
          }
          
          .contact_us_green .responsive-cell-block {
            min-height: 50px;
          }
          
          .contact_us_green .responsive-container-block.container {
            max-width: 1320px;
            margin-top: 60px;
            margin-right: auto;
            margin-bottom: 60px;
            margin-left: auto;
          }
          
          .contact_us_green .responsive-container-block.big-container {
            padding-top: 0px;
            padding-right: 50px;
            padding-bottom: 0px;
            padding-left: 50px;
          }
          
          .contact_us_green .text-blk.contactus-head {
            font-size: 40px;
            line-height: 50px;
            font-weight: 500;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 10px;
            margin-left: 0px;
          }
          
          .contact_us_green .text-blk.contactus-subhead {
            max-width: 385px;
            color: #939393;
            font-size: 18px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 50px;
            margin-left: 0px;
          }
          
          .contact_us_green .contact-svg {
            padding-top: 0px;
            padding-right: 25px;
            padding-bottom: 0px;
            padding-left: 0px;
            width: 65px;
            height: 40px;
          }
          
          .contact_us_green .social-media-links {
            margin-top: 80px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
            width: 250px;
            display: flex;
            justify-content: space-evenly;
          }
          
          .contact_us_green .social-svg {
            width: 35px;
            height: 35px;
          }
          
          .contact_us_green .text-box {
            display: flex;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 50px;
            margin-left: 0px;
          }
          
          .contact_us_green .contact-text {
            color: #939393;
          }
          
          .contact_us_green .input {
            height: 50px;
            width: 90%;
            border-top-width: 2.5px;
            border-right-width: 2.5px;
            border-bottom-width: 2.5px;
            border-left-width: 2.5px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #a2a2a2;
            border-right-color: #a2a2a2;
            border-bottom-color: #a2a2a2;
            border-left-color: #a2a2a2;
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 16px;
            padding-top: 5px;
            padding-right: 15px;
            padding-bottom: 5px;
            padding-left: 15px;
          }
          
          .contact_us_green .textinput {
            height: 200px;
            width: 95%;
            border-top-width: 2px;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: #a2a2a2;
            border-right-color: #a2a2a2;
            border-bottom-color: #a2a2a2;
            border-left-color: #a2a2a2;
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 16px;
            padding-top: 20px;
            padding-right: 30px;
            padding-bottom: 20px;
            padding-left: 20px;
          }
          
          .contact_us_green .submit-btn {
            min-width: 290px;
            height: 60px;
            background-color: #1c3b28;
            font-size: 18px;
            font-weight: 700;
            color: white;
            border-top-width: 2px;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-top-color: #767676;
            border-right-color: #767676;
            border-bottom-color: #767676;
            border-left-color: #767676;
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            cursor: pointer;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            outline: none;




            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
            
          }


          .popup{
            width: 400px;
            background: #fff;
            border-radius: 6px;
            position: relative;
            top: 0%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: hidden;
            transition: transform 0.4s,top 0.4s;
        }
        .open-popup{
            top: 50%;
            transform: translate(-50%,-50%) scale(1);
            visibility: visible;
        } 
        .popup img{
        width: 100x;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
        .popup h2{
            font-size: 38px;
            font-weight: 500;
            margin: 30px 0 10px;
        
        }
        .popup button{
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background: #6fd649;
            color: #fff;
            border: 0;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        
        }






          
          .contact_us_green .btn-wrapper {
            display: flex;
            justify-content: center;
          }
          
          .contact_us_green .text-blk.input-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 15px;
            margin-left: 0px;
          }
          
          .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 30px;
            margin-left: 0px;
          }
          
          .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          
          .contact_us_green .head-text-box {
            display: none;
          }
          
          .contact_us_green .line {
            border-right-width: 1.8px;
            border-right-style: solid;
            border-right-color: #a2a2a2;
          }
          
          .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
            padding-top: 0px;
            padding-right: 20px;
            padding-bottom: 0px;
            padding-left: 0px;
          }
          
          @media (max-width: 1024px) {
            .contact_us_green .responsive-container-block.container {
              justify-content: center;
            }
          
            .contact_us_green .text-blk.contactus-subhead {
              max-width: 90%;
            }
          
            .contact_us_green .head-text-box {
              display: block;
            }
          
            .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
              padding-top: 0px;
              padding-right: 20px;
              padding-bottom: 60px;
              padding-left: 0px;
            }
          
            .contact_us_green .line {
              border-right-width: initial;
              border-right-style: none;
              border-right-color: initial;
              border-bottom-width: 1.8px;
              border-bottom-style: solid;
              border-bottom-color: #a2a2a2;
            }
          
            .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
              margin-top: 60px;
              margin-right: 0px;
              margin-bottom: 0px;
              margin-left: 0px;
            }
          
            .contact_us_green .workik-contact-bigbox {
              display: flex;
            }
          
            .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
              padding-top: 0px;
              padding-right: 0px;
              padding-bottom: 0px;
              padding-left: 0px;
            }
          }
          
          @media (max-width: 768px) {
            .contact_us_green .text-content {
              display: none;
            }
          
            .contact_us_green .input {
              width: 100%;
            }
          
            .contact_us_green .textinput {
              width: 100%;
            }
          
            .contact_us_green .text-blk.contactus-head {
              font-size: 30px;
            }
          }
          
          @media (max-width: 500px) {
            .contact_us_green .responsive-container-block.big-container {
              padding-top: 0px;
              padding-right: 20px;
              padding-bottom: 0px;
              padding-left: 20px;
            }
          
            .contact_us_green .workik-contact-bigbox {
              display: block;
            }
          
            .contact_us_green .text-blk.input-title {
              font-size: 16px;
            }
          
            .contact_us_green .text-blk.contactus-head {
              font-size: 26px;
            }
          
            .contact_us_green .text-blk.contactus-subhead {
              font-size: 16px;
              line-height: 23px;
            }
          
            .contact_us_green .input {
              height: 45px;
            }
          
            .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
              margin: 0 0 25px 0;
            }
          }

          @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


